<div>
    <a mat-raised-button class="mb-3" color="primary" style="float: right;" routerLink="/experiment/new">
        <mat-icon aria-label="Side nav toggle icon">add_circle</mat-icon> New Template
    </a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Template</th>
                <th scope="col">Created On</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tmplt of tmplts; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>
                    {{ tmplt.name }}
                </td>
                <td>{{ tmplt.startDate | date }}</td>
                <td>
                    <button mat-mini-fab color="primary"> <mat-icon aria-label="Side nav toggle icon">create</mat-icon></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>