<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Component</th>
                <th scope="col">Amount Left</th>
                <th scope="col">Dealer</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let country of countries; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>
                    {{ country.name }}
                </td>
                <td>{{ country.amountLeft | number }}</td>
                <td>{{ country.dealer }}</td>
                <td>
                    <button mat-mini-fab class="mx-md-1" color="primary" ngbTooltip="Edit"> 
                        <mat-icon aria-label="Side nav toggle icon">
                        create
                        </mat-icon>
                    </button>
                    <button mat-mini-fab color="primary" class="mx-md-1" ngbTooltip="Copy">
                         <mat-icon aria-label="Side nav toggle icon" >
                             content_copy
                        </mat-icon>
                    </button>
                </td>

            </tr>
        </tbody>
    </table>
</div>