<div>
    <a mat-raised-button class="mb-3" color="primary" style="float: right;" routerLink="/component/new">
        <mat-icon aria-label="Side nav toggle icon">add_circle</mat-icon> New Component
    </a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Component</th>
                <th scope="col">Amount Left</th>
                <th scope="col">Dealer</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cmpt of cmpts; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>
                    {{ cmpt.name }}
                </td>
                <td>{{ cmpt.quantityLeft | number }}</td>
                <td>{{ cmpt.dealer }}</td>
                <td>
                    <button mat-mini-fab color="primary"> <mat-icon aria-label="Side nav toggle icon">create</mat-icon></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>