<form>
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" id="nameInput" aria-describedby="nameHelp">
    </div>
    <div class="form-group">
        <label for="Qty">Quantity</label>
        <input type="number" class="form-control" id="qtyInput" aria-describedby="QtyLHelp">
    </div>
    <div class="form-group">
        <label for="Name">Dealer</label>
        <input type="text" class="form-control" id="dealerInput" aria-describedby="dealerHelp">
    </div>
    <button type="submit" class="btn btn-primary">Add New</button>
</form>